<%= form_with(model: month) do |form| %>
  <% if month.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(month.errors.count, "error") %> prohibited this month from being saved:</h2>

      <ul>
        <% month.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.text_field :month_name ,class:'form-control',placeholder:'Month Name'%>
  </div>

  <div class="form-group">
    <%= form.number_field :month_number,class:'form-control',placeholder:'Month number' %>
  </div>

  <div class="actions">
    <%= form.submit "Add Month",class:'btn btn-danger' %>
  </div>
<% end %>  

