<div class="container w-50">
  <p id="notice"><%= notice %></p>

<h1>Months</h1>

<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Month name</th>
      <th>Month number</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @months.each do |month| %>
      <tr>
        <td><%= month.month_number %></td>
        <td><%= month.month_name %></td>
        <td><%= link_to '<i class="far fa-eye"></i>'.html_safe, month %>
        <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_month_path(month) %>
        <%= link_to'<i class="fas fa-trash"></i>'.html_safe, month, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Month', new_month_path,class:'btn btn-success' %>

</div>
