<p id="alert"><%= alert %></p>
<h1>Login</h1>
<%= form_tag sessions_path do |form| %>
 <div class="container-fluid m-auto w-25">
<div class="card m-cust">
<article class="card-body">
    <%= link_to 'Sign Up',signup_path,class:'float-right btn btn-outline-primary' %>
<h4 class="card-title mb-4 mt-1">Sign in</h4>
     <form>
    <div class="form-group">
    <%= label_tag :email %>
    <%= text_field_tag :'email',"",class:'form-control',placeholder:'Emails'%>
    </div> <!-- form-group// -->
    <div class="form-group">
        <a class="float-right" href="#">Forgot?</a>
        <%= label_tag :'Your password' %>
    <%= password_field_tag :'password',"", class:'form-control',placeholder:'******' %>
    </div> <!-- form-group// --> 
    <div class="form-group"> 
    <div class="checkbox">
      <label> <input type="checkbox"> Save password </label>
    </div> <!-- checkbox .// -->
    </div> <!-- form-group// -->  
    <div class="form-group">
    	<%= submit_tag "Login" ,class:'btn btn-primary btn-block' %>
    </div> <!-- form-group// -->                                                           
</form>
</article>
</div>
</div>
<% end %>