<div class="container float-right">
<h1>Teachers</h1>
<table id="t-table" class="table table-bordered table-striped">
<thead class= "thead-dark">
	<th>Id</th>
	<th>Email</th>
	<th>Actions</th>
</thead>
<tbody>
	<% @teachers.each do |t|%>
	<% if t.has_role?(:teacher) %>
<tr>
	<td><%= t.id %></td>
	<td><%= t.email %></td>
	<td><%= link_to '<i class="fas fa-trash"></i>'.html_safe, admin_destroy_teacher_path(t), method: :delete, data: { confirm: "You sure?" } %>
	</td>
<tr>
	<% end %>
<% end %>
</tbody>
</table>

<h1>Admin</h1>
<table id="" class="table table-bordered table-striped">
<thead class= "thead-dark">
	<th>Id</th>
	<th>Email</th>
	<th>Actions</th>
</thead>
<tbody>
	<% @teachers.each do |t|%>
	<% if t.has_role?(:admin) %>
<tr>
	<td><%= t.id %></td>
	<td><%= t.email %><%#= t.roles_name %></td>
	<td><%= link_to '<i class="far fa-eye"></i>'.html_safe , users_teachers_path(t) %>
	</td>
<tr>
	<% end %>
<% end %>
</tbody>
</table>

</div>
