<% if has_role(:admin) %>
    <header class="header">
    <nav class="navbar navbar-fluid navbar-toggleable-md navbar-light pt-0 pb-0 ">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand p-0 mr-5" href="#"><img src="http://via.placeholder.com/61x14"></a>
      <div class="float-left"><span class="button-left fa fa-fw fa-bars"></span></div>
      <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavDropdown">
        <ul class="navbar-nav">
        	<li class="nav-item">
        <%= link_to 'Log Out', destroy_student_session_path,method: :delete,class:'nav-link', data: { confirm: 'Are you sure?' } %>
    		</li>
        <li class="nav-item dropdown user-menu pt-2 text-light">
            <img src="http://via.placeholder.com/160x160" class="user-image" alt="User Image" >
            <span class="hidden-xs"><% if is_student_admin? %><%= current_student.email.split('@',2)[0] %><% elsif current_teacher && current_teacher.has_role?(:admin)  %>current_teacher.email.split('@',2)[0]<% end %></span>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="main">
  <aside>
    <div class="sidebar left position-absolute">
      <div class="user-panel">
        <div class="pull-left info pb-5">
          <p>Menu</p>
        </div>
      </div>
      <ul class="list-sidebar bg-default">
        <li> <a href="#" data-toggle="collapse" data-target="#dashboard" class="collapsed active" > <i class="fas fa-scroll"></i> <span class="nav-label"> Question Papers</span> <span class="fa fa-chevron-left pull-right"></span> </a>
        <ul class="sub-menu collapse btn-success" id="dashboard">
        	<li><%= link_to 'View All Papers',papers_path %></li>
          <li><%= link_to 'Edit Month', months_path %></li>
          <li><%= link_to 'Edit Year', years_path %></li>
          <li class="active"><%= link_to 'Add New Paper',new_paper_path %></li>
          <% Category.all.each do |f| %>
  		<li><%= link_to f.name ,papers_path(category: f.name) ,class:'nav-cat-link d-block'%></li>
		<% end %>

        </ul>
      </li>
      <li> <a href="#" data-toggle="collapse" data-target="#paper_cats" class="collapsed active" > <i class="fas fa-tags"></i> <span class="nav-label">Paper Categories</span> <span class="fa fa-chevron-left pull-right"></span> </a>
      <ul class="sub-menu collapse btn-success" id="paper_cats">
      	<li><%= link_to 'View All Categories',categories_path%></li>
      	<li><%= link_to 'Add New Category',new_category_path%></li>
      </ul>
    </li>

    <li> <a href="#" data-toggle="collapse" data-target="#users_roles" class="collapsed active" > <i class="fa fa-users"></i> <span class="nav-label">Users</span> <span class="fa fa-chevron-left pull-right"></span> </a>
      <ul class="sub-menu collapse btn-success" id="users_roles">
        <% Role.all.each do |f| %>
        <% if !(f.name == "admin")  %>
      <li><%= link_to "Students",users_students_path %></li>
      <% end %>
    <% end %>
    <% Role1.all.each do |f| %>
    <% if !(f.name == "admin")  %>
      <li><%= link_to "Teachers",users_teachers_path %></li>
      <% end %>
    <% end %>
  </ul>
    <li> <a href="#" data-toggle="collapse" data-target="#teacher_profile" class="collapsed active" ><i class="fa fa-users"></i> <span class="nav-label">Teacher Profiles</span> <span class="fa fa-chevron-left pull-right"></span> </a>
      <ul class="sub-menu collapse btn-success" id="teacher_profile">
      <li><%= link_to "View all profiles",teacher_profiles_path %></li>
      <li><%= link_to "Add new Profile",new_teacher_profile_path %></li>
      </ul>
    </li>

    <li> <a href="#" data-toggle="collapse" data-target="#courses" class="collapsed active" ><i class="fas fa-award"></i> <span class="nav-label">Courses</span> <span class="fa fa-chevron-left pull-right"></span> </a>
      <ul class="sub-menu collapse btn-success" id="courses">
      <li><%= link_to "View Courses",courses_path %></li>
      <li><%= link_to "Add new Course",new_course_path %></li>
      </ul>
    </li>

        </ul>
</div>
</aside>
</div>
<% else %>
<h1 class="m-cust">Error 403 Page Forbidden</h1>
<% end %>  