  <nav class="navbar fixed-top navbar-light navbar-expand-lg bg-red boxshadow">
    <div class="container-fluid container-fluid-nav"> 
  <%= link_to image_tag('logo.png',:width =>'200',:height=>'80'),root_path,class:"navbar-brand img-fluid" %>
      <button class="navbar-toggler mr-5 mt-4" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item bg-red">
          	<%= link_to 'About Us',home_about_path,class:'nav-link'%>
          </li>
          <li class="nav-item">
            <%= link_to 'Our Courses',courses_path,class:'nav-link'%>
          </li>
          <% if current_student %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="accountDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="hidden-xs"><%= current_student.student_name %></span>
                </a>
                <div class="dropdown-menu bg-red" aria-labelledby="accountDropdown">
                  <%= link_to 'Log Out', destroy_student_session_path,method: :delete,class:'nav-link mb-0' %>
                  <%= link_to 'Edit Profile', edit_student_registration_path,class:'nav-link' %>
                  <%= link_to 'Previous Papers', home_questionpapers_path,class:'nav-link' %>
                </div>
          </li>
          <% elsif current_teacher %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="accountDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <!-- <img src="http://via.placeholder.com/160x160" class="user-image" alt="User Image" > -->
                  <span class="hidden-xs"><%= current_teacher.email %></span>
                </a>
                <div class="dropdown-menu bg-red" aria-labelledby="accountDropdown">
              <%= link_to 'Log Out', destroy_teacher_session_path,method: :delete,class:'nav-link' %>
              <%= link_to 'Edit Profile', edit_teacher_registration_path,class:'nav-link' %>
              <%= link_to 'Upload Papers', new_paper_path , class:'nav-link'%>
              <%= link_to 'Previous Papers', home_questionpapers_path,class:'nav-link' %>
                </div>
                
          </li>
           <% else %>
           <li class="nav-item bg-red">
            <%= link_to 'Sign Up', new_student_registration_path,class:'nav-link' %>
          </li>
          <li class="nav-item bg-red">
            <%= link_to 'Login',new_student_session_path,class:'nav-link'%>
          </li>
          <% end %>
          <li class="nav-item bg-red">
            <%= link_to 'Contact Us',home_contact_path,class:'nav-link'%>
          </li>
        </ul>
      </div>
    </div>
  </nav>
