<div class="container-fluid p-3 m-cust-courses">
    <div class="row justify-content-between">
      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        
<!-- Carousel Indicators -->
<ol class="carousel-indicators carousel-indicators-dark">
  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
</ol>
<!-- Carousel Slides -->
<div class="carousel-inner">
  <div class="carousel-item container active about-us-1" data-bs-interval="10000">
    <div class= "row p-course">
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <%= image_tag("course.png", class:"d-block boxshadow w-lg-75 img-fluid h-auto m-auto")%>
      </div>
      <div class="col-lg-6 col-sm-12 col-xs-12 m-auto">
        <p class="text-start carousel-para mt-sm-5">The Being Ambitious Academy is a place where we aim to educate those who are willing to learn and expand their knowledge.<br>We offer various courses in the remote live learning mode that help students interact with the educator.<br>Our educators are industry experts and offer only the latest and most relevant knowledge. All courses offer complete practical information and does not stick to theoretical concepts.</p>
      </div>
    </div>   
  </div>

  <div class="carousel-item container about-us-1" data-bs-interval="10000">
    <div class= "row p-course">
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <%= image_tag("course1.png", class:"d-block boxshadow w-lg-75 img-fluid h-auto m-auto")%>
      </div>
      <div class="col-lg-6 col-sm-12 col-xs-12 m-auto">
        <p class="text-start carousel-para mt-sm-5">The Being Ambitious Academy is a place where we aim to educate those who are willing to learn and expand their knowledge.<br>We offer various courses in the remote live learning mode that help students interact with the educator.<br>Our educators are industry experts and offer only the latest and most relevant knowledge. All courses offer complete practical information and does not stick to theoretical concepts.</p>
      </div>
    </div>   
  </div>

  <div class="carousel-item container about-us-1" data-bs-interval="10000">
    <div class= "row p-course">
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <%= image_tag("course2.jpg", class:"d-block boxshadow w-lg-75 img-fluid h-auto m-auto")%>
      </div>
      <div class="col-lg-6 col-sm-12 col-xs-12 m-auto">
        <p class="text-start carousel-para mt-sm-5">The Being Ambitious Academy is a place where we aim to educate those who are willing to learn and expand their knowledge.<br>We offer various courses in the remote live learning mode that help students interact with the educator.<br>Our educators are industry experts and offer only the latest and most relevant knowledge. All courses offer complete practical information and does not stick to theoretical concepts.</p>
      </div>
    </div>   
  </div>


  



   

  <!-- <div class="carousel-item about-us-1" data-bs-interval="10000">
    <div class= "row">
      <div class="col-lg-6 col-sm-12 col-xs-12 p-5">
        <%= image_tag("course1.png",style:"height:20vw;width:30vw;", class:"d-block boxshadow ml-auto")%>
      </div>
      <div class="col-lg-6 col-sm-12 col-xs-12 p-5">
        <p class="text-start carousel-para">The Being Ambitious Academy is a place where we aim to educate those who are willing to learn and expand their knowledge.<br>We offer various courses in the remote live learning mode that help students interact with the educator.<br>Our educators are industry experts and offer only the latest and most relevant knowledge. All courses offer complete practical information and does not stick to theoretical concepts.</p>
      </div>
    </div>   
  </div>

  <div class="carousel-item about-us-1" data-bs-interval="10000">
    <div class= "row">
      <div class="col-lg-6 col-sm-12 col-xs-12 p-5">
        <%= image_tag("course2.jpg",style:"height:20vw;width:30vw;", class:"d-block boxshadow ml-auto")%>
      </div>
      <div class="col-lg-6 col-sm-12 col-xs-12 p-5">
        <p class="text-start carousel-para">The Being Ambitious Academy is a place where we aim to educate those who are willing to learn and expand their knowledge.<br>We offer various courses in the remote live learning mode that help students interact with the educator.<br>Our educators are industry experts and offer only the latest and most relevant knowledge. All courses offer complete practical information and does not stick to theoretical concepts.</p>
      </div>
    </div>   
  </div>  -->
        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button> -->
        <a class="carousel-control-prev" href="#carouselExampleDark" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon control-icon-cust"  aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleDark" role="button" data-slide="next">
    <span class="carousel-control-next-icon control-icon-cust" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
      </div>
    </div>
</div>

<div class="container p-5">
  <div class="col-lg-12">
      <h1 class="text-center">Courses</h1>
      <hr class="custom-hr"><br>
    </div>
  <div class="row">
    <div class="col-lg-12 mb-5">
    <div class="col-lg-12 course-headings text-white p-3">
      <span>Course 001</span><br>
      <h3>
        <span>Course Name</span></h3>
    </div>
    <div class="col-lg-12 border-cust row">
      <div class="course-body col-lg-6 col-md-6 p-5">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="course-button">
      <a class="btn btn-outline-danger" href="course_details" role="button">More details</a>
    </div>
    </div>
    <div class="course-img col-lg-6 col-md-6 text-right">
      <%= image_tag("course3.png",style:"height:17vw;width:25vw;")%>
    </div>
    </div>
  </div>


  <div class="col-lg-12 mb-5">
    <div class=" col-lg-12 course-headings text-white p-3">
      <span>Course 002</span><br>
      <h3>
        <span>Course Name</span></h3>
    </div>
    <div class="col-lg-12 border-cust row">
      <div class="course-body col-lg-6 col-md-6 p-5">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="course-button">
      <a class="btn btn-outline-danger" href="course_details" role="button">More details</a>
    </div>
    </div>
    <div class="course-img col-lg-6 col-md-6 text-right">
      <%= image_tag("course4.png",style:"height:17vw;width:25vw;")%>
    </div>
    </div>
  </div>


  <div class="col-lg-12 mb-5">
    <div class=" col-lg-12 course-headings text-white p-3">
      <span>Course 003</span><br>
      <h3>
        <span>Course Name</span></h3>
    </div>
    <div class="col-lg-12 border-cust row">
      <div class="course-body col-lg-6 col-md-6 p-5">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="course-button">
      <a class="btn btn-outline-danger" href="course_details" role="button">More details</a>
    </div>
    </div>
    <div class="course-img col-lg-6 col-md-6 text-right">
      <%= image_tag("course5.jpg",style:"height:17vw;width:25vw;")%>
    </div>
    </div>
  </div>





</div>
</div>



<!-- XXX -->


<div class="container-fluid about-us-service row">
  <div class="col-lg-12">
      <h1 class="text-center text-dark text-uppercase">Who should take this course?</h1>
      <hr class="custom-hr"><br>
    </div>
  <div class="row justify-content-between">
    <div class="about-card p-5 col-lg-4 col-sm-12 d-flex flex-row">
      <div><i class="fas fa-3x fa-user-graduate p-3"></i></div>
      <div class="text-left">
        <h3>Students</h3>
        <p>Students who are in college or recent graduates who wish to pursue their career in Digital Marketing can apply. This course will lay a solid foundation, provide certifications, and help you land a job as a Digital Marketer.</p>
      </div>
    </div>
    <div class="about-card p-5 col-lg-4 col-sm-12 d-flex flex-row">
      <div><i class="fas fa-3x fa-user p-3"></i></div>
      <div class="text-left">
        <h3>Professionals</h3>
        <p>Professionals who wish to have a profile switch to Digital Marketing or who seek to add digital expertise to their existing profile can make use of this course and add an array of certifications to your name.</p>
      </div>
    </div>
    <div class="about-card p-5 col-lg-4 col-sm-12 d-flex flex-row">
      <div><i class="fas fa-3x fa-user-tie p-3"></i></div>
      <div class="text-left">
        <h3>Entrepreneurs & Freelancers</h3>
        <p>Freelancers who want to grow their income exponentially. Entrepreneurs who want to understand Digital Marketing to strategize and govern their existing digital marketing activities.</p>
      </div>
    </div>
    </div>
  </div>


<!-- XXX -->

<div class="container-fluid choose-us p-5 m-cust">
  <h2 class="text-center text-uppercase">Why choose us?</h2>
  <hr class="custom-hr">
  <div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12 p-4">
      <h5>
        <strong>Internship Opportunities:</strong>
      </h5>
      <p class="choose-para">
        Depending on your performance during the course, we may offer you an internship. The internship helps gain practical and hands-on experience.
      </p>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 p-4">
      <h5>
        <strong>Certificate on completion:</strong>
      </h5>
      <p class="choose-para">A certificate can help boost your CV and resume. Thus a certificate is awarded to everyone who successfully attends the entire duration of the course.</p>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 p-4">
      <h5>
        <strong>Live and online classes:</strong>
      </h5>
      <p class="choose-para">The classes are conducted live and in online mode in order to enable direct interaction between students and the lecturer.</p>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 p-4">
      <h5>
        <strong>Interactive Classes:</strong>
      </h5>
      <p class="choose-para">The course is structured to break the monotony of classes and keep it interactive. QnA rounds and rapid fires are included to enhance the student’s interest.</p>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 p-4">
      <h5>
        <strong>Weekend Batches:</strong>
      </h5>
      <p class="choose-para">The lectures are conducted on weekends so that your daily weekday routine doesn’t come in the way of your learning.</p>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 p-4">
      <h5>
        <strong>Structured Courses:</strong>
      </h5>
      <p class="choose-para">Courses are drafted keeping in mind the latest trends and demands of the industry and a practical approach is used.</p>
    </div>
  </div>
</div>

<h1 class="join">Join Us Today!</h1>
