<%= form_with(model: paper) do |form| %>
  <% if paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paper.errors.count, "error") %> prohibited this paper from being saved:</h2>

      <ul>
        <% paper.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :title ,class:'form-control',placeholder:'Title' %>
  </div>

  <div class="form-group">
    <%= form.text_area :description ,class:'form-control',placeholder:'Description'%>
  </div>

  <div class="form-group">
    <%= form.label :"Upload Paper" %>
    <%= form.file_field :file ,class:'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all, :id, :name ,class:'dropdown dropdown-item'%> 
  </div>

  <div class="form-group">
    <%= form.label :month %>
    <%= form.collection_select :month_id, Month.all, :id, :month_name ,class:'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :year_id %>
    <%= form.collection_select :year_id, Year.all, :id, :paper_year ,class:'form-control'%>
  </div>

  <div>
    <%= form.submit 'Upload Paper',class:'btn btn-primary' %>
  </div>
<% end %>
