<% if !has_role(:admin) %>
<div class="container m-cust p-5">
  <h1 class="text-center"><%= @course.c_name %></h1>
  <hr class="custom-hr">
</div>


<div class="container border border-danger p-0 boxshadow">
    <div class="col-lg-12 p-0">
      <% if @course.image1.attached? %>
      <%= image_tag (@course.image1),class:"w-100 h-auto img-fluid course-display-image" %>
      <% else %>
      <%= image_tag("course6.jpg",:class => "w-100 h-auto img-fluid course-display-image") %>
      <% end %>
    </div>
    <div class="col-lg-12 course-short-desc p-5 text-light">
      <p>
        <%= @course.c_desc %>
      </p>
    </div>
</div>

  <h1 class="text-center mt-5">Course Details</h1>
  <hr class="custom-hr"><br>
<div class="conatiner bg-red p-4 boxshadow container-details">
  <div class="col-lg-6 col-md-12 col-12 m-auto">
    <table class="table table-bordered table-striped bg-white boxshadow">
        <thead class="thead-dark">
          <th>Label</th>
          <th>Details</th>
        </thead>
      <tbody>
        <tr>
          <th>Course Name</th>
          <td><%= @course.c_name %></td>
        </tr>
        <tr>
          <th>Level</th>
          <td><%= @course.c_level %></td>
        </tr>
        <tr>
          <th>Structure</th>
          <td><%= @course.c_structure %></td>
        </tr>
        <tr>
          <th>Mode</th>
          <td><%if @course.c_mode %>Online<% else %>Offline<% end %></td>
        </tr>
        <tr>
          <th>Location</th>
          <td><%= @course.c_location %></td>
        </tr>
        <tr>
          <th>Duration</th>
          <td><%= @course.c_duration.to_s + ' hours' %></td>
        </tr>
        <tr>
          <th>Days</th>
          <td><%= @course.c_days %></td>
        </tr>
        <tr>
          <th>Time</th>
          <td><%= @course.c_time %></td>
        </tr>
        <tr>
          <th>Age</th>
          <td><%= @course.c_age.to_s + '+' %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="col-lg-12 p-5">
  <h1 class="text-center">Course Structure</h1>
  <hr class="custom-hr"><br>
</div>
<div class="container container-course-structure border border-dark bg-lightredshade2 boxshadow">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mx-auto p-0">
      <% if @course.image2.attached? %>
      <%= image_tag @course.image2 ,class:"w-100 h-100 img-fluid borderradius-img-lr" %>
      <% else %>
      <%= image_tag("course7.jpg",:class=>"w-100 h-100 img-fluid borderradius-img-lr")%>
      <% end %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 m-auto p-5">
    <ol class="course-list-1">
      <% @course.c_detailed_structure.split('|').each do |c| %>
      <li class="list-item">
      <% @j =c.split('=')%>
      <%= @j[0]%>
      <ul>
      <% @j[1].to_s.split(';').each do |k| %>
      <li class="list-item"><%= k %></li>
      <% end %>
    </ul>
    </li>
    <% end %>
    </ol>
    </div>
  </div>
</div>

<div class="col-lg-12 p-5">
  <h1 class="text-center">Course Requirements</h1>
  <hr class="custom-hr"><br>
</div>
<div class="container bg-lightredshade2 container-course-structure boxshadow border border-danger">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
      <% if @course.image3.attached? %>
      <%= image_tag @course.image3, class:"img-fluid w-100 h-100 borderradius-img-lr" %>
      <% else %>
      <%= image_tag("course6.jpg",:class=>"img-fluid w-100 h-100 borderradius-img-lr")%>
      <% end %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
      <ol class="p-5 course-list-2 font-weight-bold">
        <% @course.c_requirements.split(';').each do |req|%>
        <li class="list-item"><%= req %></li>
        <% end %>
      </ol>
    </div>
  </div>
</div>

<div class="container-fluid p-5">
<h1 class="join pt-0">Contact us today!</h1>
</div>

<% elsif has_role(:admin) %>
<div class="container w-50">
  <h1 class="text-center"><%= @course.c_name %></h1>
  <p id="notice"><%= notice %></p>
<table class="table table-bordered table-striped">
  <thead class="thead-dark"><th>Label</th><th>Details</th></thead>
<tr>
  <th>Course name</th>
  <td><%= @course.c_name %></td>
</tr>
<tr>
  <th>Description</th>
  <td><%= @course.c_desc %></td>
</tr>
<tr>
  <th>Image for Description</th>
  <td>
    <% if @course.image1.attached? %>
      <%= image_tag (@course.image1),style:"height:17vw;width:25vw;" %>
      <% else %>
      <%= image_tag("course6.jpg",style:"height:17vw;width:25vw;") %>
      <% end %>
  </td>
</tr>
<tr>
  <th>Level</th>
  <td><%= @course.c_level %></td>
</tr>
<tr>
  <th>Structure</th>
  <td><%= @course.c_structure %></td>
</tr>
<tr>
  <th>Mode</th>
  <td><%if @course.c_mode %>Online<% else %>Offline<% end %></td>
</tr>
<tr>
  <th>Course name</th>
  <td><%= @course.c_name %></td>
</tr>
<tr>
  <th>Platform</th>
  <td><%= @course.c_location %></td>
</tr>
<tr>
  <th>Duration</th>
  <td><%= @course.c_duration %></td>
</tr>
<tr>
  <th>Days</th>
  <td><%= @course.c_days %></td>
</tr>
<tr>
  <th>Time</th>
  <td><%= @course.c_time %></td>
</tr>
<tr>
  <th>Age</th>
  <td><%= @course.c_age %></td>
</tr>
<tr>
  <th>Detailed Structure</th>
  <td><ol class="course-list-1">
      <% @course.c_detailed_structure.split('|').each do |c| %>
      <li class="list-item">
      <% @j =c.split('=')%>
      <%= @j[0]%>
      <ul>
      <% @j[1].to_s.split(';').each do |k| %>
      <li class="list-item"><%= k %></li>
      <% end %>
    </ul>
    </li>
    <% end %>
    </ol></td>
</tr>
<tr>
  <th>Image for Detailed Structure</th>
  <td>
    <% if @course.image2.attached? %>
      <%= image_tag @course.image2 ,style:"height:17vw;width:25vw;" %>
      <% else %>
      <%= image_tag("course7.jpg",style:"height:17vw;width:25vw;")%>
      <% end %>
  </td>
</tr>
<tr>
  <th>Requirements</th>
  <td>  <% @course.c_requirements.split(';').each do |req|%>
        <li class="list-item"><%= req %></li>
        <% end %></td>
</tr>
<tr>
  <th>Image for Requirements</th>
  <td>
    <% if @course.image3.attached? %>
      <%= image_tag @course.image3,style:"height:17vw;width:25vw;" %>
      <% else %>
      <%= image_tag("course6.jpg",style:"height:17vw;width:25vw;")%>
      <% end %>
  </td>
</tr>
</table>
<center>
<%= link_to 'Edit', edit_course_path(@course),class:'btn btn-primary mb-3' %> |
<%= link_to 'Back', courses_path,class:'btn btn-primary mb-3' %></center>
</div>
<% end %>