<div class="container float-right">
<p id="notice"><%= notice %></p>

<h1>Paper Categories</h1>

<table id="categoryTable" class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to '<i class="far fa-eye"></i>'.html_safe, category %>
        <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_category_path(category) %>
        <%= link_to '<i class="fas fa-trash"></i>'.html_safe, category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path, class:'btn btn-success' %>
</div>